body {

  margin: 0;

  font-family: Arial, Helvetica, sans-serif;

  background-color: #e3c0ea;

  color: #0a0a0a;

}

header {

  background-color: #0e5e90;

  color: white;

  text-align: center;

  padding: 20px;

}

